.main_container {
  background-color: #fcefe9;
}
.otp_modal {
  width: 400px;
  padding: 60px;
  color: #282c3f;
  background-color: #ffffff;
}
.otp_img {
  width: 90px;
  height: 90px;
}
.verify_otp {
  font-weight: 700;
  font-size: 16px;
  padding: 0;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
}
